* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #303030;/* Свойства для сброса начальных стилей элементов */
}

body {
    font-family: "Inter", sans-serif;
}

header {
    background: #2965f1;
    width: 1440px;
    height: 70px;
    padding: 23px 0;
}

header span {
    font-weight: 700;
    font-size: 20px;
    color: #fff; 
}

.main-section {
    height: 1024px;
    width: 1440px;
    padding: 60px 0;
}

.main-title {
    font-weight: 700;
    font-size: 48px;
    margin-bottom:  20px; 
}

.main-text {
    font-size: 18px;
    font-weight: 400;
}

.main-image {
    max-width: 715px;
}


.about-section {
    background-color: #FFFFFF;
    padding: 100px 0;
}

select {
    border-radius: 5px;
    width: 150px;
    height: 36px;
    border: 1px solid rgba(48, 48, 48, 0.3);
    background: rgba(255, 255, 255, 0);
    font-size: 16px;
    font-weight: 400;
    background: url(./assets/image/ep_arrow-down.svg) no-repeat right 15px top 50%;
    appearance: none;
}

.section-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
}

.frameworks-list {
    list-style-image:url(./assets/image/solar_map-arrow-up-bold.svg);
    fill: #2965f1;
    padding: 0 20px;
}

.books-list {
    font-size: 16px;
    font-weight: 400;
}

.label {
    font-size: 16px;
    font-weight: 400;
}

.text-field {
    border-radius: 5px;
    width: 330px;
    height: 36px;
    background: rgba(255, 255, 255, 0);
    font-weight: 400;
    font-size: 16px;
    color: rgba(48, 48, 48, 0.2);
    border: 1px solid rgba(48, 48, 48, 0.3);
    padding-left: 12px;
    padding-top: 9px;
    padding-bottom: 8px;
}

.btn {
    border-radius: 5px;
    width: 330px;
    height: 36px;
    background: rgba(255, 255, 255, 0);
    font-weight: 400;
    font-size: 16px;
    color: rgba(48, 48, 48, 0.2);
    border: 1px solid rgba(48, 48, 48, 0.3);
    padding-left: 12px;
    padding-top: 9px;
    padding-bottom: 8px;
}

.line {
    width: 1440px;
    height: 0px;
    border: 1px solid rgba(48, 48, 48, 0.3);
    margin-top: 60px;
    margin-bottom: 60px;
}

table {
    height: 196px;
    font-weight: 700;
    font-size: 14px;
    width: 300px;
}

th, td {
    width: 113px;
    height: 40px;
    padding: 12px 15px;
    border: 1px solid #95a1bb;
}

footer {
    background: rgba(163, 167, 255, 0.3);
    height: 70px;
    width: 1440px;
    padding: 26px 0;
}

.footer-link {
    font-size: 14px;
    color: #2965f1;
    text-decoration: none;
    font-weight: 400;
}

a.readed {color: #2965f1}
a.readed:visited {color: purple}

ul{
    list-style: none;
}
